- page_title do
  #{link_to "#{@user.name}", @user} /
  #{link_to "#{@vehicle.model}", user_vehicle_path(user_id: @user, vehicle_id: @vehicle)} /
  Gallery
  / May need to shrink this breadcrumb

- if @images.any?
  .row
    - @images.each do |image|
      .col.s12.m6.l4
        = image_tag image.url, class: 'materialbox'
- else
  .row
    .col.s4.offset-s4.center-align
      %p{style: 'font-family: "OpenSans-Bold", sans-serif;'}
        No images! #{link_to 'Add one?', new_user_vehicle_image_path(user_id: @user.id, vehicle_id: @vehicle.id)}
