- page_title do
  #{link_to "#{@user.name}", @user} /
  #{link_to 'Vehicles', user_vehicles_path(user_id: @user)} /
  New

= render 'form'
= link_to 'Back', user_vehicles_path(user_id: @user.id), class: 'btn'
