%nav
  .container.row
    .col.s9.l7.left.truncate
      %span.logo ForCars /
      %span.breadcrumbs= yield :title
    .col.s2.l5.right
      %ul.right.hide-on-med-and-down
        - if user_signed_in?
          %li= link_to 'My Account', current_user, class: 'right'
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'right'
        - else
          %li= link_to 'Sign In', new_user_session_path, class: 'right'
          %li= link_to 'Register', new_user_registration_path, class: 'right'
      = link_to '#', data: {activates: 'slide-out'}, class: 'button-collapse' do
        %i.mdi-navigation-menu
