!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title
      - if content_for?(:title)
        = yield(:title)
        \-
        Spotted
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{class: user_signed_in? ? 'signed-in' : 'signed-out'}
    %header
      = render 'layouts/title_bar', user: current_user
      = render 'layouts/side_bar', user: current_user
    .page
      doi
      = yield
    = javascript_include_tag 'application'
