!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spotted
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .navbar
        .navbar-header
          .navbar-brand Spotted
          .nav.pull-right
            .navbar-text
              = link_to 'About', '#'
            .navbar-text
              = link_to 'Search', '#'
            .navbar-text
              = link_to 'Random', '#'
    .content
      = yield
    .footer
      .navbar
        .navbar-header
          .nav.pull-left
            .navbar-text
              Copyright 2015
          .nav.pull-right
            .navbar-text
              Other links

