!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title
      ForCars
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag 'icon.png'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/title_bar', user: current_user
      = render 'layouts/side_bar', user: current_user
    .page
      .container
        = yield
    = javascript_include_tag 'application'
