!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spotted
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .side-bar
      Some text.
    .circle.btn.btn-default#side-bar-toggle
      %i.fa.fa-bars
    .page-wrapper
      = render partial: 'layouts/notifications'
      = yield
